<!-- icons html added by hw-->
{% assign icons = site.icons %}
{% if icons.email %}
<a href="mailto:{{ icons.email }}" class="icon">
  <i class="fas fa-envelope"></i>
</a>
{% endif %}

{% if icons.linkedin %}
<a href="{{ icons.linkedin }}" class="icon">
  <i class="fab fa-linkedin"></i>
</a>
{% endif %}

{% if icons.github %}
<a href="https://github.com/{{ icons.github }}" class="icon>
  <i class="fab fa-github"></i>
</a>
{% endif %}

{% if icons.gitlab %}
<a href="https://gitlab.com/{{ icons.gitlab }}" class="icon">
  <i class="fab fa-gitlab"></i>
</a>
{% endif %}

{% if icons.bitbucket %}
<a href="https://bitbucket.org/{{ icons.bitbucket }}" class="icon">
  <i class="fab fa-bitbucket"></i>
</a>
{% endif %}

{% if icons.google_plus %}
<a href="https://plus.google.com/{{ icons.google_plus }}" class="icon">
  <i class="fab fa-google-plus-g"></i>
</a>
{% endif %}

{% if icons.twitter %}
<a href="https://twitter.com/{{ icons.twitter }}" class="icon">
  <i class="fab fa-twitter"></i>
</a>
{% endif %}

{% if icons.youtube %}
<a href="https://www.youtube.com/user/{{ icons.youtube }}" class="icon">
  <i class="fab fa-youtube"></i>
</a>
{% endif %}

{% if icons.facebook %}
<a href="https://www.facebook.com/{{ icons.facebook }}" class="icon">
  <i class="fab fa-facebook-f"></i>
</a>
{% endif %}

{% if icons.instagram %}
<a href="http://instagram.com/{{ icons.instagram }}" class="icon">
  <i class="fab fa-instagram"></i>
</a>
{% endif %}